<% include partials/header %>
<div class="container"> 
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to the quotes Page!</h1>
            <p>Get Access to over thousands of Nigerian quotes</p>
            <p> 
                <a class="btn btn-primary btn-large" href="/quotes/new">Add new Quote</a>    
            </p>
        </div>
    </header>


<% quotes.forEach(function(quote){ %>
    
        <div class="container">
            <blockquote class="blockquote">
              <p> <%= quote.quote %> </p>
              <footer class="blockquote-footer"><%= quote.name %></footer>
            </blockquote>
            </div>
    <% }) %>
</div> 
    <% include partials/footer %>